<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Signika:wght@300;400;600&display=swap" rel="stylesheet">
  <script src="javascripts/style.js"></script>
</head>

<body>
  <div class="navigation">
    <nav class="nav-bar">
      <div class="brand">
        <img src="images/logo.png" alt="Saho">
        <h2 class="brand-name">සහෝ</h2>
      </div>
      <div class="nav-bar-section1">
        <ul class="nav-bar-items">
          <li class="nav-bar-item">GET INVOLVED</li>
          <li class="nav-bar-item">PROJECTS</li>
          <li class="nav-bar-item">SHOP</li>
          <li class="nav-bar-item">ABOUT</li>
          <button class="nav-btn">DONATE</button>
          <button class="nav-btn">FUNDRAISE</button>
        </ul>
      </div>
      <div class="nav-bar-section2">
        <img class="nav-bar-item" src="images/bag.svg" alt="shop">
        <img class="nav-bar-item" src="images/shopping-cart.svg" alt="cart">
        <img class="nav-bar-item" src="images/search.svg" alt="search">
      </div>
    </nav>
  </div>
  <div class="banner">
    <div class="banner-desc">
      <h4>OUR APPROACH TO PHILANTHROPY IS SIMPLE</h4>
      <div class="line"></div>
      <h1>We Believe in People.</h1>
      <h2>We partner with individuals and communities who are committed to creating change.</h2>
      <button class="donate-today-btn">DONATE TODAY</button>
    </div>
    <div class="arrow">
      <img src="images/downArrow.gif" alt="down-arrow" width:2em>
    </div>
  </div>
  <div class="about-us">
    <div class=about-us-1>
      <h4>ABOUT US</h4>
      <div class="line"></div>
    </div>
    <div  class=about-us-2>
      <h4>OUR FULL STORY</h4>
      <div class="line"></div>
    </div>
  </div>




  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>



</body>

</html>